:root {
    --navy: #000080;
    --cornflower: #6495ed;
    --white: #ffffff
}

body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

header {
    height: 85px;
    background-color: var(--navy);
    margin: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

header h1 {
    color: var(--white);
    font-size: 3rem;
    padding: 2%;
}

header ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 4%;

}

header ul li {
    padding-right: 20px;
    list-style-type: none;
}

a {
    text-decoration: none;
    color: var(--white);
}

a:hover {
    box-shadow: inset 0px 0px 8px var(--cornflower), 0 0 15px var(--cornflower);
}

.keyboard-img img {
    object-fit: fill;
    height: 100%;
    width: 100%;
  }

section.about-section, section.work-section, section.contact-section, section.resume-section {
    display: flex;
    justify-content: space-between;
  }

section h2 {
    justify-content: center;
    justify-content: space-around;
    width: 30%;
    background-color: var(--navy);
    color: var(--white);
    text-align: right;
    font-size: 3rem;
    padding-left: 30px;
    border-right: 10px solid var(--cornflower);
}

section div {
    display: flex;
    justify-content: flex-start;
    width: 65%;
    color: var(--navy);
    font-size: 2rem;
    text-align: center;
}

a img {
    height: 100%;
    width: 100%;
    width: 350px;
    height: 300px;
}

a img:hover {
    box-shadow: inset 0px 0px 8px var(--cornflower), 0 0 15px var(--cornflower);
}

h3 {
    background-color: var(--navy);
    color: var(--white);
    text-align: center;
}